@font-face {
    font-family: 'VWText';
    src: url('fonts/VWTextWeb-Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'VWHead';
    src: url('fonts/VWHeadWeb-Regular.woff2') format('woff2');
}

* {
    /* font-family: 'VWText', Fallback, sans-serif; */
    font-family: sans-serif;

}

body {
    margin: 0
}

section:nth-child(odd) {
    background: rgb(222, 222, 222);
    padding: 50px;
}

section:nth-child(even) {
    background: rgb(255, 255, 255);
    padding: 50px;
}

.blueText {
    color: #00b1eb;
    font-size: 2em;
}

.fontHead {
    font-family: 'VWHead';
    font-weight: 700;
}

.fontText {
    font-family: 'VWText';
    font-weight: 700;
}


