<!-- views/pages/home.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<header>
    <% include ../partials/header %>
</header>

<main>

    <section>
        <h1>Top 5</h1>
        <ul>
            <li>1. Server-Side Rendering</li>
            <li>2. Afbeeldingen Compression</li>
            <li>3. Kleurencontrast</li>
            <li>4. Caching</li>
            <li>5. <i>onbekend</i></li>
        </ul>
    </section>

    <section>
        <h1> 1. Server Side Rendering </h1>
        <p>Deze webpagina wordt Server-Side gerenderd.</p>

    </section>

    <section>
        <h1> 2. Afbeeldingen Compression</h1>
        <p>Hieronder zijn twee afbeeldingen te zien.</p>

        
    </section>

    <section>
        <h1> 3. Kleurencontrast </h1>
    
            
    </section>

    <section>
        <h1> 4. Caching </h1>
    
            
    </section>

    <section>
        <h1> 5. onbekend </h1>
    
            
    </section>

</main>

<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>